# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Generated platform folders (recreate with `flutter create .`)
# Remove these lines once you commit real platform config.
android/
ios/
web/
linux/
macos/
windows/

# IDE
.idea/
*.iml
.vscode/
